{{! -*- mode: markdown -*- }}

# {{ selected }} Структура и органы

## Структура

1. <a name="ref_p1_4_1_1"></a>Органами организации являются общее собрание, исполнительный комитет, рабочие группы, контрольно-ревизионная комиссия.
2. В состав выборных органов могут быть избраны как члены организации, так и лица, в ней не состоящие.

## Общее собрание

1. Высшим органом Организации является Общее собрание. Решения Общего собрания имеют приоритет по отношению к решениям любых других органов. Общее собрание может отменить решение любого другого органа.
2. Общее собрание проводится очно или в форме онлайн-конференции с применением технологий, позволяющих идентифицировать личность участника. При очном собрании должны быть обеспечены онлайн-трансляция и возможность дистанционного голосования.
3. Созыв Общего собрания возможен по инициативе любого органа или инициативной группы. Если в течение 1 месяца после подачи заявки Исполком не определит дату собрания, определить дату может инициатор созыва.
4. Члены Организации приглашаются на Общее собрание в письменной или электронной форме не позднее, чем за 21 сутки до заседания. 
5. Повестка Общего собрания формируется и публикуется Исполкомом не позднее, чем за 14 суток до заседания. Правом внесения вопросов в повестку обладают все органы, а также инициативные группы. В последнем случае вопрос может быть внесен в повестку и после её публикации. 
6. Кворум для Общего собрания составляет {{ quorum }} членов Организации, независимо от того, проводится ли заседание очно или онлайн. Передача права голоса не допускается.
7. Решения Общего собрания, кроме описанных в пп. [5.1](#ref5_1) и [5.2](#ref5_2), принимаются простым большинством голосов.
8. К вопросам исключительной компетенции Общего собрания относятся: 
    - Утверждение Устава и внесение изменений в него.
    - Утверждение документов, регулирующих правила интеллектуальных игр. 
    - Выборы членов Исполкома, Рабочих групп, Контрольно-ревизионной комиссии.
    - Досрочное прекращение полномочий других органов.
    - Создание и ликвидация Рабочих групп (кроме временных), утверждение документов, регламентирующих их деятельность. 
    - Создание и ликвидация дополнительных органов, не перечисленных в п. [4.1.1](#ref_p1_4_1_1).
    - Утверждение отчётов других органов об их деятельности.
    - Установление и отмена членских взносов.
    - Ликвидация Организации.

## Исполнительный комитет

1. Исполком является органом, обеспечивающим повседневную работу Организации.
2. Срок полномочий членов Исполкома - {{ executiveTime }}. 
3. Количество членов Исполкома определяется Общим собранием, но не может быть {{ executiveCount }}. При уменьшении количества членов Исполкома за пределы нижней границы на ближайшем Общем собрании проводятся дополнительные выборы для заполнения вакантных мест в Исполкоме.
4. Исполком:
    - Определяет даты Общих собраний, формирует и публикует их повестку. 
    - Организует проведение Общих собраний.
    - Организует взаимодействие между Рабочими группами.
    - Может создавать временные Рабочие группы.
    - Ведёт реестр членов организации.
    - Распоряжается денежными средствами и имуществом Организации.
    - Готовит отчёты о своей деятельности для Общего собрания. Периодичность отчетов устанавливается Общим собранием.
    - Может решать другие вопросы, не отнесенные к исключительной компетенции Общего собрания.
5. Лица, которые могут представлять Организацию перед органами власти, банками и иными организациями, определяются Исполкомом. Содержание договоров, подписанных уполномоченными лицами, должно получить предварительное согласование Исполкома. Для распоряжения банковским счетом Организации достаточно подписи двух уполномоченных Исполкомом лиц.

## Рабочие группы

1. Рабочие группы являются органами, созданными для реализации конкретных направлений деятельности Организации.
2. Рабочие группы создаются и ликвидируются по решению Общего собрания. 
3. Сроки полномочий и персональный состав членов каждой Рабочей группы определяются Общим собранием. После начала работы группа может кооптировать в свой состав дополнительных членов. Каждое решение о кооптации должно быть рассмотрено и может быть отменено ближайшим Общим собранием.
4. В период между Общими собраниями по решению Исполкома могут быть созданы временные Рабочие группы с временным составом членов. Ближайшее Общее собрание должно утвердить или отменить решение Исполкома. В случае утверждения Общее собрание формирует постоянный состав группы, в случае отмены — решает вопрос о действительности принятых временной группой решений.
5. Одно и то же лицо может быть одновременно членом Исполкома и Рабочей группы. Одно и то же лицо может быть одновременно членом нескольких Рабочих групп.
6. Рабочие группы:
    - Занимаются анализом вопросов, связанных с правилами игр, проведением соревнований, информационным обеспечением деятельности Организации, соблюдением игровой этики, бюджетом Организации, взаимодействием с другими организациями и т. д.
    - Разрабатывают проекты  внутренних нормативных документов Организации для рассмотрения Общим собранием.
    - Готовят отчёты о своей деятельности для Общего собрания. Периодичность отчётов устанавливается Общим собранием.
    - Могут инициировать созыв Общего собрания.
    - Могут вносить вопросы в повестку Общего собрания.
    - Могут решать другие вопросы, не отнесенные к исключительной компетенции Общего собрания.

## Контрольно-ревизионная комиссия

1. Контрольно-ревизионная комиссия является постоянно действующим органом, оценивающим и контролирующим работу других органов.
2. Срок полномочий членов Контрольно-ревизионной комиссии — {{ executiveTime }}. 
3. Количество членов Контрольно-ревизионной комиссии определяется Общим собранием, но не может быть менее 3.
4. Член Контрольно-ревизионной комиссии не может быть одновременно членом Исполкома или любой Рабочей группы.
5. Контрольно-ревизионная комиссия:
    - Контролирует соблюдение другими органами Устава.
    - Контролирует исполнение другими органами решений Общего собрания. 
    - Проверяет расходование финансовых средств Организации.
    - Проверяет соответствие договоров, заключённых от лица Организации, её интересам.
    - Готовит отчёты о своей деятельности для Общего собрания. Периодичность отчётов устанавливается Общим собранием.
    - Может инициировать созыв Общего собрания.
    - Может вносить вопросы в повестку Общего собрания.

## Территориальные объединения

1. Для кооординации деятельности Организации в определённом государстве или регионе могут быть созданы территориальные объединения членов Организации, статус и полномочия которых определяются Общим собранием.

{{ selected }}
