{{! -*- mode: markdown -*- }}

# {{selected}} Aufbau des Vereins

## Liste der Organe

Die organisatorische Struktur des Vereins umfasst die folgenden Organe:

1. Mitgliederversammlung des Vereins (Versammlung).
2. Vorstand.
3. Senat.
4. Der Rat der Champions.
5. Arbeitsausschüsse.
6. Territoriale Verbände.

## Mitgliederversammlung

1. Die Versammlung ist das oberste Organ des Vereins. Die Entscheidungen der Versammlung haben Vorrang vor den Entscheidungen anderer Organe. Die Versammlung kann sich über die Entscheidung eines anderen Organs hinwegsetzen.
2. Die Versammlung kann durch Beschluss einberufen werden:
    1. durch die Versammlung.
    1. durch den Vorstand.
    1. durch eine Initiativgruppe von Mitgliedern des Vereins.
3. Die Mitglieder des Vereins müssen spätestens 21 Tage im voraus über die nächste Versammlung informiert werden. Die Benachrichtigung per E-Mail ist zulässig.
4. Der Vorstand legt die Tagesordnung der Versammlung fest, bestimmt den Ablauf der Versammlung, wählt den Versammlungsleiter. Alle Arbeitsausschüsse und Initiativgruppen haben das Recht, die Themen zur Tagesordnung hinzuzufügen. Die folgenden Themen werden automatisch in die Tagesordnung aufgenommen:
    1. Erneuerung der Befugnisse der aktuellen Zusammensetzung des Vorstands oder Neuwahl des Vorstands.
    1. Zustimmung zu den in [Abschnitt 4.2.7.2](#ref_p3_4_2_7_2) aufgeführten Dokumenten.
    1. Beschlüsse der Arbeitsausschüsse, die nach den Ordnungen der jeweiligen Arbeitsausschüsse der Genehmigung durch die Versammlung bedürfen.
5. Die Mitgliederversammlung findet als Präsenzveranstaltung oder in Form einer Online-Konferenz unter Einsatz von Technologien statt, die eine Identifizierung der Teilnehmer ermöglichen. Im Falle einer Präsenzversammlung müssen eine Online-Übertragung und eine Fernabstimmung gewährleistet sein. Eine Übertragung von Stimmen ist nicht zulässig.
6. Eine Versammlung ist beschlussfähig, wenn 10 % der tatsächlichen Mitgliederzahl anwesend sind.
7. Die ausschließlichen Befugnisse der Versammlung ohne die Möglichkeit der Delegierung sind:
    1. Wahl und Wiederwahl der Mitglieder des Vorstands.
    1. <a name="ref_p3_4_2_7_2"></a>Die Verabschiedung und Änderung der Satzungen des Vorstands, des Senats, des Rat der Champions, der Arbeitsausschüsse, der Territorialverbände sowie die Genehmigung der Reglements der einzelnen Arbeitsausschüsse.
    1. Die Aufhebung der Beschlüsse der anderen Organe.
    1. Die Auflösung der bestehenden Arbeitsausschüsse vor dem Ende der Amtszeit.
    1. Entscheidung über Einführung, Änderung, Aufhebung von Mitgliedsbeiträgen.
    1. Die Genehmigung von Änderungen der Statuten.
    1. Die Auflösung des Vereins.
8. Die unübertragbaren Befugnisse der Versammlung mit der Möglichkeit, diese Befugnisse durch Beschluss der Versammlung an andere Organe zu delegieren, sind:
    1. Der Eintritt neuer Mitglieder in den Verein und den Ausschluss von der Mitgliedschaft im Verein.
    1. Genehmigung von Entscheidungen anderer Organe.
    1. Genehmigung des Budgets des Vereins.

## Der Vorstand

1. Der Vorstand ist das Vertretungsorgan der Versammlung.
2. Der Vorstand führt die operative Arbeit zur Verwaltung des Vereins zwischen den Versammlungen durch.
3. Die Arbeitsweise des Vorstands und die ihm von der Versammlung übertragenen Befugnisse werden durch die Satzung des Vorstands bestimmt.
4. Der Vorstand kann aus nicht weniger als 5 und nicht mehr als 11 Mitgliedern bestehen. Verringert sich die Zahl der Vorstandsmitglieder über die Untergrenze hinaus, so ist eine außerordentliche Versammlung abzuhalten.

## Der Senat

1. Der Senat ist das Vertretungsorgan der territorialen Verbände des Vereins und der Mitglieder des Vereins aus verschiedenen Ländern.
2. Der Senat besteht aus ständigen und zusätzlichen Vertretern mit gleichen Rechten.
3. Ein Staat ist in dem Verein vertreten, wenn er einen territorialen Verband des Vereins hat oder wenn sein Einwohner Mitglied der jeweils letzten Versammlung ist. Jeder in dem Verein vertretene Staat hat das Recht, einen ständigen Vertreter in den Senat zu entsenden.
4. Basierend auf den Ergebnissen jeder Versammlung kann dem Senat zusätzliche Vertreter aus den bei der Versammlung am stärksten vertretenen Staaten beitreten, wobei die Gesamtzahl neun nicht überschritten werden darf.
5. Das Verfahren für die Entsendung von Vertretern, ihre Ersetzung und Abberufung wird in der Geschäftsordnung des Senats geregelt.
6. Der Senat hat das Recht, deren Vertretern bei jeder Versammlung Redezeit zu erteilen. Die Gesamtredezeit der Redner des Senats darf nicht von oben auf weniger als 10 % der tatsächlichen Zeit der Versammlung begrenzt werden.

## Rat der Champions

1. Der Rat der Champions ist das Vertretungsorgan der derzeit stärksten Mannschaften und Spieler.
2. Die Reihenfolge der Delegierung, das Rotationsprinzip, die Ersetzung und die Abberufung von Vertretern werden durch die von der Gründungsversammlung oder der Versammlung angenommene Satzung des Rat der Champions bestimmt. Satzung des Rat der Champions muss die aktuelle Situation in den Sportdisziplinen im Interessensbereich des Vereins berücksichtigen, sicherstellen, dass die Interessen der Teilnehmer in den verschiedenen Disziplinen, sowohl in der Team-Disziplinen als auch in der Einzel-disziplinen, respektiert werden, und eine vernünftige Rotation entsprechend den auftretenden Veränderungen gewährleisten.
3. Der Rat der Champions hat das Recht, deren Vertreter auf jeder Versammlung Rederecht zu erteilen. Die Gesamtredezeit der Redner aus dem Rat der Champions darf nicht von oben auf weniger als 10% der tatsächlichen Zeit der Versammlung begrenzt werden.

## Arbeitsausschüsse

1. Die Arbeitsausschüsse sind die grundlegenden Arbeitsorgane des Vereins. Die Arbeitsausschüsse sind für die Lösung der Aufgaben des Vereins bestimmt, die sowohl in der Statuten des Vereins vorgeschrieben sind, als auch im Laufe des Bestehens des Vereins entstehen.
2. Die Arbeitsweise der Arbeitsausschüsse im Allgemeinen wird durch die Satzung der Arbeitsausschüsse bestimmt.
3. Das Ergebnis der Tätigkeit der Arbeitsausschüsse gehört dem Verein, sofern in der Satzung des jeweiligen Arbeitsausschusses nichts anderes festgelegt ist.
4. Die Entscheidung, einen Arbeitsausschuss einzurichten, kann von jedem der folgenden Organe getroffen werden: der Versammlung, dem Vorstand, dem Senat, dem Rat der Champions.
5. Jeder Arbeitsausschuss arbeitet auf der Grundlage seiner eigenen Satzung des Arbeitsausschusses, die seine Aufgaben, die Bedingungen für die Lösung dieser Aufgaben, Pflichten und Befugnisse festlegt und das Arbeitsverfahren bestimmt.
6. Jeder Arbeitsausschuss wird um einen Kern von drei Mitgliedern gebildet, von denen einer ein Vertreter der Versammlung, einer des Senats und einer des Rat der Champions ist.
7. Nach der Verabschiedung der Satzung des Arbeitsausschusses können neue Mitglieder in den Arbeitsausschuss kooptiert werden, wenn dies der Satzung des Arbeitsausschusses nicht widerspricht. Die Entscheidung über die Kooptation eines neuen Mitglieds wird einstimmig durch die Abstimmung der Mitglieder des Kerns des Arbeitsausschusses getroffen.

## Territoriale Verbände

1. Durch Beschluss der Versammlung können territoriale Verbände des Vereins gegründet werden, um die Aufgaben des Vereins gebietsspezifisch zu lösen. Als territoriale Verbände können bestehende Verbände, die an einer Zusammenarbeit mit dem Verein interessiert sind, anerkannt werden.
2. Die Tätigkeit der territorialen Verbände im Allgemeinen wird durch die Satzung.
3. Die Tätigkeit eines bestimmten territorialen Verbandes kann durch eine eigene Satzung geregelt werden, sofern diese nicht im Widerspruch zu den allgemeinen Satzungen der territoriale Verbände steht.

{{ selected }}
