{{! -*- mode: markdown -*- }}

# {{ selected }} Структура организации

1. Органами Организации являются:
    - Общее собрание;
    - Исполком;
    - Сенат;
    - Рабочие группы;
{{#revision}}
    - {{revision}} Контрольно-ревизионная комиссия
{{/revision}}
2. По решению Общего собрания состав  органов может изменяться.

## Общее Собрание

1. Высшим органом Организации является Общее собрание. Решения Общего собрания являются окончательными и не могут изменяться иными органами. 
2. Общее собрание проводится очно или в форме онлайн-конференции с применением технологий, позволяющих идентифицировать личность участника. При очном собрании должны быть обеспечены онлайн-трансляция и возможность дистанционного голосования.
3. Общее собрание должно проводится не реже 1 раза в {{ assemblyTime }}, при этом за организацию должен отвечать действующий Исполком.
4. Созыв Общего собрания возможен по инициативе Исполкома, Сената или инициативной группы. Если в течение 1 месяца после подачи заявки Исполком не определит дату собрания, определить дату может инициатор созыва.
5. О проведении Общего собрания все члены Организации должны быть уведомлены не позднее чем за  30 суток до его начала. Допускается уведомление по электронной почте. Повестка Общего собрания публикуется не позднее чем за 14 суток до заседания. 
6. Повестку Общего собрания формирует Исполком. Исполком обязан включить в повестку вопросы, о необходимости обсуждения которых на Общем собрании заявили Сенат, Рабочие группы или инициативная группа. Добавлять вопросы в повестку после публикации может только инициативная группа.
7. Кворум для Общего собрания составляет {{ assemblyQuorum }}, независимо от того, проводится ли заседание очно или онлайн. Передача права голоса не допускается.
8. Решения Общего собрания принимаются простым большинством голосов, кроме описанных в пп. [5.1](#ref5_1) и [5.2](#ref5_2) и решений, для которых собрание установит иной порядок принятия.
9. К полномочиям Общего собрания относятся:
    - Утверждение Устава и внесение в него изменений.
    - Выборы в состав Исполкома.
    - Принятие и изменение нормативных документов, описывающих деятельность Организации.
    - Отмена решений любых других органов Организации.
    - Создание и ликвидация дополнительных органов.
    - Утверждение Рабочих групп.
    - Принятие любых решений касательно членских взносов.
    - Принятие и исключение членов Организации.
    - Делегирование собственных полномочий с правом последующего отзыва и изменение полномочий других органов.
    - Ликвидация Организации.

## Исполком

1. Исполнительный комитет является постоянно действующим органом, который  координирует повседневную работу Организации.
2. Работу по организации Общего собрания берёт на себя действующий Исполком. Исполком может делегировать эту обязанность соответствующей Рабочей группе или сторонней организации. 
3. Состав Исполкома избирается на {{ executiveTime }} Общим собранием, либо досрочно при соответствующем решении Сената, инициативной группы или невыполнении полномочий по организации Общего собрания.
{{#executiveTerm}}
4. Каждый член Исполкома имеет право находиться в Исполкоме не более {{ executiveTerm }}. 
{{/executiveTerm}}
5. Количество членов Исполкома определяется Общим собранием, но не может быть {{ executiveCount }} членов Организации. При уменьшении числа членов Исполкома за пределы нижней границы проводится Общее собрание с целью довыборов в Исполком.
6. Лица, которые могут представлять Организацию перед органами власти, банками и иными организациями, определяются Исполкомом. Содержание договоров, подписанных уполномоченными лицами, должно получить предварительное согласование Исполкома. Для распоряжения банковским счетом Организации достаточно подписи двух уполномоченных Исполкомом лиц. 
7. Полномочия Исполкома:
    - Определение дат и повесток Общих собраний, оповещение о них членов Организации, либо передача этого права.
    - Представление Организации для внешних связей и передача этого права лицам, не являющимся членами Исполкома.
    - Внесение вопросов в повестку Общего собрания, в том числе предложенных другими органами или членами Организации.
    - Учёт состава членов Организации и своевременное принятие решений по приёму новых членов. 
    - Распоряжение денежными средствами и имуществом Организации.
    - Составление ежегодного отчёта о деятельности Организации.
    - Оспаривание решений Сената и Рабочих групп. При этом спорное решение должно быть рассмотрено на ближайшем Общем собрании. 
    - Инициирование процесса создания/роспуска Рабочих групп, при этом необходимо обеспечивать их временное функционирование до утверждения на Общем собрании.
    - Делегирование своих функций и полномочий полностью или частично другим органам с правом последующего отзыва.

## Сенат

1. Сенат — представительный орган региональных организаций. Под региональной организацией понимается объединение, защищающее интересы и права участников соревнований по интеллектуальным играм в странах и регионах.
2. В состав Сената имеют право входить представители организаций, заявивших о своём желании в Исполком, при этом одна организация получает один голос, вне зависимости от размера и состава организации. Первый состав Сената избирается на следующем Общем собрании после учредительного.
{{#senate.v1}}
3. {{senate.v1}} <a name="ref_p2_4_4_3"></a>Не допускается участие в Сенате региональных организаций из одной страны более чем:
    - 5 для стран, где более 1000 активных команд, 
    - 3 для стран с 251 – 1000 активными командами, 
    - 2 для стран с 101-250 активными командами, 
    - 1 для стран с 11-100 активными командами.

    Страны, имеющие 10 и менее активных команд, не могут быть представлены в Сенате, но могут объединиться с представителями другой страны для достижения необходимого числа активных команд. Под активной понимается команда, в течение последнего года выступившая хотя бы в одном соревновании, признанном организацией.
4. Региональные организации, представляющие интересы сразу нескольких стран, считаются по сумме представителей из этих стран за вычетом количества мест, уже занятых региональными организациями стран. В случае споров за место приоритет получает региональная организация, представляющая конкретную страну.
5. Организации, имеющие представительство в Сенате, определяется Общим собранием, при этом места распределяются в порядке:
    - приоритетное право представительства обеспечивается для «головной» национальной федерации, проводящей чемпионат страны, либо оргкомитета чемпионата страны, при отсутствии такой организации.
    - далее право представительства получает студенческая организация, проводящая студенческий чемпионат страны, или оргкомитет этого чемпионата при условии, что он не проводится организацией, упомянутой в одном из предыдущих пунктов.
    - право на представление в Сенате получает оргкомитет школьного чемпионата страны, при условии, что он не проводится организацией, упомянутой в одном из предыдущих пунктов.
    - Далее места распределяются между региональными организациями, пожелавшими быть представленными в Сенате, но не попадающими под предыдущие пункты.
    - При отсутствии соответствующих организаций сенаторы могут быть избраны на Общем собрании представителями страны, желающей получить место в Сенате и попадающей под условия из п. [4.4.3](#ref_p2_4_4_3). 

    В случае возникновения спора за участие в Сенате может проводиться голосование между представителями стран. При этом голосование организовывается Исполкомом. {{senate.v1}}
{{/senate.v1}}
{{#senate.v2}}
3. {{senate.v2}} В состав Сената входят постоянные и дополнительные представители страны, в составе Сената они обладают равными правами. Представители не обязаны быть членами Организации.
4. Страна считается представленной в Организации, если хотя бы одна организация из неё представленна в Сенате. Каждая представленная в Организации страна имеет право делегировать в Сенат одного постоянного представителя.
5. По итогам каждого Общего собрания в Сенат могут войти дополнительные представители региональных организаций от стран, наиболее представленных на Общем собрании, общим числом не более девяти.
{{/senate.v2}}
{{#senate.v3}}
3. {{senate.v3}} В состав Сената могут войти любые представители национальных организаций государств, а также оргкомитеты турниров, которые являются национальными чемпионатами (любого возрастного уровня). При наличии двух конкурирующих организаций, обе имеют право быть представлены в Сенате, при соответствующем решении Общего собрания. {{senate.v3}}
{{/senate.v3}}
6. Все решения о личности, представляющей организацию в Сенате, принимаются самой избранной организацией или избранным оргкомитетом. При этом представитель может меняться между собраниями Сената. Представитель организации не может являться членом Исполкома.
7. Требования к организациям, имеющим право представительства в Сенате, и порядок их определения могут изменяться Общим собранием. 
8. Желание о вхождении своего представителя в Сенат любая организация должна подать не позднее чем за 30 календарных дней до ближайшего Общего собрания. После этого Исполком проверяет возможность предоставления места для этой организации и организует необходимые голосования Общего собрания. Первое — о допуске организации в Сенат. Второе — в случае ситуации выбора между претендующими организациями.
9. Каждая организация-член Сената имеет право:
    - Инициировать обсуждение вопроса в Сенате.
    - Менять представителя.
    - Голосовать внутри Сената по обсуждаемым вопросам. При этом любое решение принимается простым большинством голосов участников.
10. Каждая организация-член Сената обязана определять представителя на собрания Сената. Если организация игнорирует участие в 5 и более собраниях Сената, поднимается вопрос о её исключении из Сената. 
11. Сенат имеет полномочия:
    - Созыв Общего собрания, при наборе {{senate.assemblyConvocation}} голосов Сената.
    - Инициация процесса внеочередных выборов Исполкома. Только при наборе {{senate.executiveDissolution}} голосов Сената. В таком случае на ближайшем Общем собрании должны быть проведены перевыборы Исполкома.
    - Добавление вопросов в повестку Общего собрания, в том числе предложенных другими органами или членами Организации.
    - Создание ежегодного отчёта о деятельности Сената.
    - Оспаривание решений Исполкома и Рабочих групп. При этом спорное решение должно быть рассмотрено на ближайшем Общем собрании. 
    - Инициирование процесса создания/роспуска Рабочих групп, при этом необходимо обеспечивать их временное функционирование до утверждения на Общем собрании;
    - Делегирование своих функций и полномочий полностью или частично другим органам с правом последующего отзыва.

## Рабочие группы

1. Рабочие группы являются органами, созданными для реализации конкретных направлений деятельности Организации. Рабочие группы могут быть постоянно действующими или временными.
2. Рабочие группы создаются по инициативе Исполкома или Сената, при этом каждый из органов имеет право оспорить решение другого. В случае расхождения в решении Рабочая группа не может начать свою деятельность даже в ограниченном режиме до Общего собрания.
3. Полномочия, количество участников и срок полномочий Рабочей группы описываются и согласовываются отдельно, при этом деятельность начинается с момента создания, но регламент должен быть утверждён на Общем собрании, до тех пор возможно лишь ограниченное функционирование с утверждением решений Исполкомом и Сенатом.
4. Состав Рабочей группы формируется Исполкомом или Сенатом при условии утверждения вторым из этих органов. В случае расхождения в решении состав должен быть утверждён на следующем Общем собрании. До тех пор Рабочая группа функционирует в ограниченном режиме.
5. К работе в Рабочей группе могут привлекаться сторонние эксперты, в том числе не являющиеся членами Организации, при этом они не имеют права голоса.
6. Возможно совмещение членства в Рабочей группе с членством в Сенате или Исполкоме. В состав Рабочей группы могут входить также лица, не являющиеся членами Организации.
7. Каждая Рабочая группа имеет право инициации обсуждения в Сенате или в Исполкоме, если вопрос выходит за рамки полномочий Рабочей группы.
{{#separateInvestigationPunishment}}
8. {{separateInvestigationPunishment}} В случае, если Рабочая группа расследует какое-либо нарушение, решение о наказании по нему должен принимать другой орган.
{{/separateInvestigationPunishment}}

{{#revision}}
## {{ revision }} Контрольно-ревизионная комиссия

1. Контрольно-ревизионная комиссия является постоянно действующим органом, оценивающим и контролирующим работу других органов.
2. Срок полномочий членов Контрольно-ревизионной комиссии — {{ executiveTime }}. 
3. Количество членов Контрольно-ревизионной комиссии определяется Общим собранием, но не может быть менее 3.
4. Член Контрольно-ревизионной комиссии не может быть одновременно членом Исполкома, Сената или любой Рабочей группы.
5. Контрольно-ревизионная комиссия:
    - Контролирует соблюдение другими органами Устава.
    - Контролирует исполнение другими органами решений Общего собрания. 
    - Проверяет расходование финансовых средств Организации.
    - Проверяет соответствие договоров, заключённых от лица Организации, её интересам.
    - Готовит отчеты о своей деятельности для Общего собрания. Периодичность отчётов устанавливается Общим собранием.
    - Может инициировать созыв Общего собрания.
    - Может вносить вопросы в повестку Общего собрания.
{{/revision}}

{{ selected }}
